@import url('../../styles/index.scss');

.button {
  border: 1px solid $white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $white;
  transition: .1s all linear;

  &:disabled {
    border-color: $accent;
  }

  &:hover:enabled {
    background-color: $accent;
    border-color: $accent;
  }
}