@import "../../styles/index";

.button,
.button_winner {
  border: 1px solid $white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $white;
  transition: 0.1s all linear;

  &_winner {
    background-color: $accent;
  }

  &:disabled {
    border-color: $accent;
  }

  &:hover:enabled {
    background-color: $accent;
    border-color: $accent;
  }
}
