@import "./normalize";
@import "./variables";
@import "https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap";

html {
  height: 100vh;
}

body {
  background-color: $primary;
  height: 100vh;
}
